=begin
#Handy API v2.0.0

#API to interact with the 'TheHandy'. <p> <b>IMPORTANT</b>: This API is compatible with devices running firmware version 3 (v3) only. See note below on how to deal with firmware version 2 (v2) devices with this API. <p> <h3>Join the community</h3> Send us a mail or add us on discord for a more technical chat - **Handy#8756**<br> Follow us on Reddit for updates and announcements: https://www.reddit.com/r/theHandy/ <p> <h3>Server selection</h3> When using the API make sure you connect to the server environment that the device you are trying to interact with is connected to.<br> For most users this will be the production environment API server: <b>https://www.handyfeeling.com/api/handy/v2</b><br> If you have been given special access to firmware that connects to the staging environment, you should use the staging environment API server: <b>https://staging.handyfeeling.com/api/handy/v2</b><br> <p> <h3>Handling firmware v2 devices</h3> Users with firmware v2 devices are required to update their device to firmware v3 before the device can be fully used with this API.<br> To ease this process, two of the endpoints in this API can be used with firmware v2 devices:<br> <ul> <li><code>/connected</code> - Check online status of a device.</li> <li><code>/info</code> - Get general information about the device.</li> </ul> All other endpoints will always return a 'Machine not connected' error if you try to use them with a firmware v2 device.<br><br> For v2 devices it's important to handle the fwStatus returned from the <code>/info</code> endpoint properly.<br> v2 devices will always have fwStatus = UPDATE_REQUIRED(2). See <code>/info</code> documentation for more details.<br><br> When using the API with a device, you should always start by verifying that the device have a firmware that is compatible with the API you are using in your service.<br> An example flow could look like this: <ol> <li>Check if device is conncted with <code>/connected</code></li> <li>Check device firmware status with <code>/info</code></li> <li>If a firmware update is required, forward the user to <a href=\"https://www.handfyfeeling.com\">https://www.handfyfeeling.com</a> so they can easily update the device firmware.</li> <li>Continue your service when the firmware status returned in <code>/info</code> is UP_TO_DATE(0).</li> </ol> <p> <h3>Mode specific operations</h3> Operations in <b>BASE</b>, <b>SLIDE</b>, <b>TIMESYNC</b> and <b>HSTP</b> are mode independent and available at any time.<br> Other operations are only available in a specific mode (eg. <b>HAMP</b>, <b>HDSP</b>, <b>HSSP</b>).<br> To access these operations, the device have to first be put in the specific mode (see <code>/mode</code>).<br> If you execute an operation not available in the current mode of the device, you will receive a 'No such method' error response. <!--See live samples of use cases here: 'https://www.handyfeeling.com/api/handy/v2/demo/ -->

The version of the OpenAPI document: 2.0.0-beta-3
Contact: lars@sweettech.no
Generated by: https://openapi-generator.tech
OpenAPI Generator version: 7.0.1-SNAPSHOT

=end

require 'cgi'

module HandyAPI
  class HAMPApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get the HAMP state of the device.
    # Get the HAMP state of the device. See HAMPStateResponse schema for possible values.
    # @param x_connection_key [String] Device connection key or a channel reference.
    # @param [Hash] opts the optional parameters
    # @return [GetHAMPState200Response]
    def get_hamp_state(x_connection_key, opts = {})
      data, _status_code, _headers = get_hamp_state_with_http_info(x_connection_key, opts)
      data
    end

    # Get the HAMP state of the device.
    # Get the HAMP state of the device. See HAMPStateResponse schema for possible values.
    # @param x_connection_key [String] Device connection key or a channel reference.
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetHAMPState200Response, Integer, Hash)>] GetHAMPState200Response data, response status code and response headers
    def get_hamp_state_with_http_info(x_connection_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: HAMPApi.get_hamp_state ...'
      end
      # verify the required parameter 'x_connection_key' is set
      if @api_client.config.client_side_validation && x_connection_key.nil?
        fail ArgumentError, "Missing the required parameter 'x_connection_key' when calling HAMPApi.get_hamp_state"
      end
      if @api_client.config.client_side_validation && x_connection_key.to_s.length > 64
        fail ArgumentError, 'invalid value for "x_connection_key" when calling HAMPApi.get_hamp_state, the character length must be smaller than or equal to 64.'
      end

      if @api_client.config.client_side_validation && x_connection_key.to_s.length < 5
        fail ArgumentError, 'invalid value for "x_connection_key" when calling HAMPApi.get_hamp_state, the character length must be great than or equal to 5.'
      end

      pattern = Regexp.new(/^(cid:?:)?[a-zA-Z0-9\/+]{5,64}$/)
      if @api_client.config.client_side_validation && x_connection_key !~ pattern
        fail ArgumentError, "invalid value for 'x_connection_key' when calling HAMPApi.get_hamp_state, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/hamp/state'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      header_params[:'X-Connection-Key'] = x_connection_key

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetHAMPState200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"HAMPApi.get_hamp_state",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: HAMPApi#get_hamp_state\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get the HAMP velocity setting of the device in percent.
    # Get the HAMP velocity setting of the device in percent.
    # @param x_connection_key [String] Device connection key or a channel reference.
    # @param [Hash] opts the optional parameters
    # @return [GetHAMPVelocityPercent200Response]
    def get_hamp_velocity_percent(x_connection_key, opts = {})
      data, _status_code, _headers = get_hamp_velocity_percent_with_http_info(x_connection_key, opts)
      data
    end

    # Get the HAMP velocity setting of the device in percent.
    # Get the HAMP velocity setting of the device in percent.
    # @param x_connection_key [String] Device connection key or a channel reference.
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetHAMPVelocityPercent200Response, Integer, Hash)>] GetHAMPVelocityPercent200Response data, response status code and response headers
    def get_hamp_velocity_percent_with_http_info(x_connection_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: HAMPApi.get_hamp_velocity_percent ...'
      end
      # verify the required parameter 'x_connection_key' is set
      if @api_client.config.client_side_validation && x_connection_key.nil?
        fail ArgumentError, "Missing the required parameter 'x_connection_key' when calling HAMPApi.get_hamp_velocity_percent"
      end
      if @api_client.config.client_side_validation && x_connection_key.to_s.length > 64
        fail ArgumentError, 'invalid value for "x_connection_key" when calling HAMPApi.get_hamp_velocity_percent, the character length must be smaller than or equal to 64.'
      end

      if @api_client.config.client_side_validation && x_connection_key.to_s.length < 5
        fail ArgumentError, 'invalid value for "x_connection_key" when calling HAMPApi.get_hamp_velocity_percent, the character length must be great than or equal to 5.'
      end

      pattern = Regexp.new(/^(cid:?:)?[a-zA-Z0-9\/+]{5,64}$/)
      if @api_client.config.client_side_validation && x_connection_key !~ pattern
        fail ArgumentError, "invalid value for 'x_connection_key' when calling HAMPApi.get_hamp_velocity_percent, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/hamp/velocity'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      header_params[:'X-Connection-Key'] = x_connection_key

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetHAMPVelocityPercent200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"HAMPApi.get_hamp_velocity_percent",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: HAMPApi#get_hamp_velocity_percent\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Stop alternating motion.
    # Stop alternating motion. No effect if the device is already stopped.
    # @param x_connection_key [String] Device connection key or a channel reference.
    # @param [Hash] opts the optional parameters
    # @return [HampStop200Response]
    def hamp_stop(x_connection_key, opts = {})
      data, _status_code, _headers = hamp_stop_with_http_info(x_connection_key, opts)
      data
    end

    # Stop alternating motion.
    # Stop alternating motion. No effect if the device is already stopped.
    # @param x_connection_key [String] Device connection key or a channel reference.
    # @param [Hash] opts the optional parameters
    # @return [Array<(HampStop200Response, Integer, Hash)>] HampStop200Response data, response status code and response headers
    def hamp_stop_with_http_info(x_connection_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: HAMPApi.hamp_stop ...'
      end
      # verify the required parameter 'x_connection_key' is set
      if @api_client.config.client_side_validation && x_connection_key.nil?
        fail ArgumentError, "Missing the required parameter 'x_connection_key' when calling HAMPApi.hamp_stop"
      end
      if @api_client.config.client_side_validation && x_connection_key.to_s.length > 64
        fail ArgumentError, 'invalid value for "x_connection_key" when calling HAMPApi.hamp_stop, the character length must be smaller than or equal to 64.'
      end

      if @api_client.config.client_side_validation && x_connection_key.to_s.length < 5
        fail ArgumentError, 'invalid value for "x_connection_key" when calling HAMPApi.hamp_stop, the character length must be great than or equal to 5.'
      end

      pattern = Regexp.new(/^(cid:?:)?[a-zA-Z0-9\/+]{5,64}$/)
      if @api_client.config.client_side_validation && x_connection_key !~ pattern
        fail ArgumentError, "invalid value for 'x_connection_key' when calling HAMPApi.hamp_stop, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/hamp/stop'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      header_params[:'X-Connection-Key'] = x_connection_key

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'HampStop200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"HAMPApi.hamp_stop",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: HAMPApi#hamp_stop\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Set the HAMP velocity setting of the device in percent.
    # Set the HAMP velocity setting of the alternating motion in percent.<p>NOTE: The velocity can only be set when HAMP mode is enabled (mode=2) and when the slide is moving (HAMP state=2). Attempting to set the velocity outside of this mode/state will result in an error response.
    # @param x_connection_key [String] Device connection key or a channel reference.
    # @param hamp_velocity_percent [HAMPVelocityPercent] 
    # @param [Hash] opts the optional parameters
    # @return [SetHAMPVelocityPercent200Response]
    def set_hamp_velocity_percent(x_connection_key, hamp_velocity_percent, opts = {})
      data, _status_code, _headers = set_hamp_velocity_percent_with_http_info(x_connection_key, hamp_velocity_percent, opts)
      data
    end

    # Set the HAMP velocity setting of the device in percent.
    # Set the HAMP velocity setting of the alternating motion in percent.&lt;p&gt;NOTE: The velocity can only be set when HAMP mode is enabled (mode&#x3D;2) and when the slide is moving (HAMP state&#x3D;2). Attempting to set the velocity outside of this mode/state will result in an error response.
    # @param x_connection_key [String] Device connection key or a channel reference.
    # @param hamp_velocity_percent [HAMPVelocityPercent] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SetHAMPVelocityPercent200Response, Integer, Hash)>] SetHAMPVelocityPercent200Response data, response status code and response headers
    def set_hamp_velocity_percent_with_http_info(x_connection_key, hamp_velocity_percent, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: HAMPApi.set_hamp_velocity_percent ...'
      end
      # verify the required parameter 'x_connection_key' is set
      if @api_client.config.client_side_validation && x_connection_key.nil?
        fail ArgumentError, "Missing the required parameter 'x_connection_key' when calling HAMPApi.set_hamp_velocity_percent"
      end
      if @api_client.config.client_side_validation && x_connection_key.to_s.length > 64
        fail ArgumentError, 'invalid value for "x_connection_key" when calling HAMPApi.set_hamp_velocity_percent, the character length must be smaller than or equal to 64.'
      end

      if @api_client.config.client_side_validation && x_connection_key.to_s.length < 5
        fail ArgumentError, 'invalid value for "x_connection_key" when calling HAMPApi.set_hamp_velocity_percent, the character length must be great than or equal to 5.'
      end

      pattern = Regexp.new(/^(cid:?:)?[a-zA-Z0-9\/+]{5,64}$/)
      if @api_client.config.client_side_validation && x_connection_key !~ pattern
        fail ArgumentError, "invalid value for 'x_connection_key' when calling HAMPApi.set_hamp_velocity_percent, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'hamp_velocity_percent' is set
      if @api_client.config.client_side_validation && hamp_velocity_percent.nil?
        fail ArgumentError, "Missing the required parameter 'hamp_velocity_percent' when calling HAMPApi.set_hamp_velocity_percent"
      end
      # resource path
      local_var_path = '/hamp/velocity'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-Connection-Key'] = x_connection_key

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(hamp_velocity_percent)

      # return_type
      return_type = opts[:debug_return_type] || 'SetHAMPVelocityPercent200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"HAMPApi.set_hamp_velocity_percent",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: HAMPApi#set_hamp_velocity_percent\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Start alternating motion.
    # Start alternating motion. No effect if the device is already moving.
    # @param x_connection_key [String] Device connection key or a channel reference.
    # @param [Hash] opts the optional parameters
    # @return [Start200Response]
    def start(x_connection_key, opts = {})
      data, _status_code, _headers = start_with_http_info(x_connection_key, opts)
      data
    end

    # Start alternating motion.
    # Start alternating motion. No effect if the device is already moving.
    # @param x_connection_key [String] Device connection key or a channel reference.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Start200Response, Integer, Hash)>] Start200Response data, response status code and response headers
    def start_with_http_info(x_connection_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: HAMPApi.start ...'
      end
      # verify the required parameter 'x_connection_key' is set
      if @api_client.config.client_side_validation && x_connection_key.nil?
        fail ArgumentError, "Missing the required parameter 'x_connection_key' when calling HAMPApi.start"
      end
      if @api_client.config.client_side_validation && x_connection_key.to_s.length > 64
        fail ArgumentError, 'invalid value for "x_connection_key" when calling HAMPApi.start, the character length must be smaller than or equal to 64.'
      end

      if @api_client.config.client_side_validation && x_connection_key.to_s.length < 5
        fail ArgumentError, 'invalid value for "x_connection_key" when calling HAMPApi.start, the character length must be great than or equal to 5.'
      end

      pattern = Regexp.new(/^(cid:?:)?[a-zA-Z0-9\/+]{5,64}$/)
      if @api_client.config.client_side_validation && x_connection_key !~ pattern
        fail ArgumentError, "invalid value for 'x_connection_key' when calling HAMPApi.start, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/hamp/start'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      header_params[:'X-Connection-Key'] = x_connection_key

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Start200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"HAMPApi.start",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: HAMPApi#start\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
