=begin
#Handy API v2.0.0

#API to interact with the 'TheHandy'. <p> <b>IMPORTANT</b>: This API is compatible with devices running firmware version 3 (v3) only. See note below on how to deal with firmware version 2 (v2) devices with this API. <p> <h3>Join the community</h3> Send us a mail or add us on discord for a more technical chat - **Handy#8756**<br> Follow us on Reddit for updates and announcements: https://www.reddit.com/r/theHandy/ <p> <h3>Server selection</h3> When using the API make sure you connect to the server environment that the device you are trying to interact with is connected to.<br> For most users this will be the production environment API server: <b>https://www.handyfeeling.com/api/handy/v2</b><br> If you have been given special access to firmware that connects to the staging environment, you should use the staging environment API server: <b>https://staging.handyfeeling.com/api/handy/v2</b><br> <p> <h3>Handling firmware v2 devices</h3> Users with firmware v2 devices are required to update their device to firmware v3 before the device can be fully used with this API.<br> To ease this process, two of the endpoints in this API can be used with firmware v2 devices:<br> <ul> <li><code>/connected</code> - Check online status of a device.</li> <li><code>/info</code> - Get general information about the device.</li> </ul> All other endpoints will always return a 'Machine not connected' error if you try to use them with a firmware v2 device.<br><br> For v2 devices it's important to handle the fwStatus returned from the <code>/info</code> endpoint properly.<br> v2 devices will always have fwStatus = UPDATE_REQUIRED(2). See <code>/info</code> documentation for more details.<br><br> When using the API with a device, you should always start by verifying that the device have a firmware that is compatible with the API you are using in your service.<br> An example flow could look like this: <ol> <li>Check if device is conncted with <code>/connected</code></li> <li>Check device firmware status with <code>/info</code></li> <li>If a firmware update is required, forward the user to <a href=\"https://www.handfyfeeling.com\">https://www.handfyfeeling.com</a> so they can easily update the device firmware.</li> <li>Continue your service when the firmware status returned in <code>/info</code> is UP_TO_DATE(0).</li> </ol> <p> <h3>Mode specific operations</h3> Operations in <b>BASE</b>, <b>SLIDE</b>, <b>TIMESYNC</b> and <b>HSTP</b> are mode independent and available at any time.<br> Other operations are only available in a specific mode (eg. <b>HAMP</b>, <b>HDSP</b>, <b>HSSP</b>).<br> To access these operations, the device have to first be put in the specific mode (see <code>/mode</code>).<br> If you execute an operation not available in the current mode of the device, you will receive a 'No such method' error response. <!--See live samples of use cases here: 'https://www.handyfeeling.com/api/handy/v2/demo/ -->

The version of the OpenAPI document: 2.0.0-beta-3
Contact: lars@sweettech.no
Generated by: https://openapi-generator.tech
OpenAPI Generator version: 7.0.1-SNAPSHOT

=end

require 'cgi'

module HandyAPI
  class HDSPApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Sets the next absolute position (xa) of the device, and the time (t) the device should use to reach the position.
    # Sets the next absolute position (xa) of the device, and the time (t) the device should use to reach the position.
    # @param x_connection_key [String] Device connection key.
    # @param next_xat [NextXAT] 
    # @param [Hash] opts the optional parameters
    # @return [NextPostionAbsVelocityAbs200Response]
    def next_position_abs_in_time(x_connection_key, next_xat, opts = {})
      data, _status_code, _headers = next_position_abs_in_time_with_http_info(x_connection_key, next_xat, opts)
      data
    end

    # Sets the next absolute position (xa) of the device, and the time (t) the device should use to reach the position.
    # Sets the next absolute position (xa) of the device, and the time (t) the device should use to reach the position.
    # @param x_connection_key [String] Device connection key.
    # @param next_xat [NextXAT] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(NextPostionAbsVelocityAbs200Response, Integer, Hash)>] NextPostionAbsVelocityAbs200Response data, response status code and response headers
    def next_position_abs_in_time_with_http_info(x_connection_key, next_xat, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: HDSPApi.next_position_abs_in_time ...'
      end
      # verify the required parameter 'x_connection_key' is set
      if @api_client.config.client_side_validation && x_connection_key.nil?
        fail ArgumentError, "Missing the required parameter 'x_connection_key' when calling HDSPApi.next_position_abs_in_time"
      end
      if @api_client.config.client_side_validation && x_connection_key.to_s.length > 64
        fail ArgumentError, 'invalid value for "x_connection_key" when calling HDSPApi.next_position_abs_in_time, the character length must be smaller than or equal to 64.'
      end

      if @api_client.config.client_side_validation && x_connection_key.to_s.length < 5
        fail ArgumentError, 'invalid value for "x_connection_key" when calling HDSPApi.next_position_abs_in_time, the character length must be great than or equal to 5.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9]{5,64}$/)
      if @api_client.config.client_side_validation && x_connection_key !~ pattern
        fail ArgumentError, "invalid value for 'x_connection_key' when calling HDSPApi.next_position_abs_in_time, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'next_xat' is set
      if @api_client.config.client_side_validation && next_xat.nil?
        fail ArgumentError, "Missing the required parameter 'next_xat' when calling HDSPApi.next_position_abs_in_time"
      end
      # resource path
      local_var_path = '/hdsp/xat'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-Connection-Key'] = x_connection_key

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(next_xat)

      # return_type
      return_type = opts[:debug_return_type] || 'NextPostionAbsVelocityAbs200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"HDSPApi.next_position_abs_in_time",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: HDSPApi#next_position_abs_in_time\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Sets the next percent position (xp) of the device, and the time (t) the device should use to reach the position.
    # Sets the next percent position (xp) of the device, and the time (t) the device should use to reach the position.
    # @param x_connection_key [String] Device connection key.
    # @param next_xpt [NextXPT] 
    # @param [Hash] opts the optional parameters
    # @return [NextPostionAbsVelocityAbs200Response]
    def next_position_percent_in_time(x_connection_key, next_xpt, opts = {})
      data, _status_code, _headers = next_position_percent_in_time_with_http_info(x_connection_key, next_xpt, opts)
      data
    end

    # Sets the next percent position (xp) of the device, and the time (t) the device should use to reach the position.
    # Sets the next percent position (xp) of the device, and the time (t) the device should use to reach the position.
    # @param x_connection_key [String] Device connection key.
    # @param next_xpt [NextXPT] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(NextPostionAbsVelocityAbs200Response, Integer, Hash)>] NextPostionAbsVelocityAbs200Response data, response status code and response headers
    def next_position_percent_in_time_with_http_info(x_connection_key, next_xpt, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: HDSPApi.next_position_percent_in_time ...'
      end
      # verify the required parameter 'x_connection_key' is set
      if @api_client.config.client_side_validation && x_connection_key.nil?
        fail ArgumentError, "Missing the required parameter 'x_connection_key' when calling HDSPApi.next_position_percent_in_time"
      end
      if @api_client.config.client_side_validation && x_connection_key.to_s.length > 64
        fail ArgumentError, 'invalid value for "x_connection_key" when calling HDSPApi.next_position_percent_in_time, the character length must be smaller than or equal to 64.'
      end

      if @api_client.config.client_side_validation && x_connection_key.to_s.length < 5
        fail ArgumentError, 'invalid value for "x_connection_key" when calling HDSPApi.next_position_percent_in_time, the character length must be great than or equal to 5.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9]{5,64}$/)
      if @api_client.config.client_side_validation && x_connection_key !~ pattern
        fail ArgumentError, "invalid value for 'x_connection_key' when calling HDSPApi.next_position_percent_in_time, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'next_xpt' is set
      if @api_client.config.client_side_validation && next_xpt.nil?
        fail ArgumentError, "Missing the required parameter 'next_xpt' when calling HDSPApi.next_position_percent_in_time"
      end
      # resource path
      local_var_path = '/hdsp/xpt'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-Connection-Key'] = x_connection_key

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(next_xpt)

      # return_type
      return_type = opts[:debug_return_type] || 'NextPostionAbsVelocityAbs200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"HDSPApi.next_position_percent_in_time",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: HDSPApi#next_position_percent_in_time\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Sets the next percent position (xp) of the device, and the absolute velocity (va) the device should use to reach the position.
    # Sets the next percent position (xp) of the device, and the absolute velocity (va) the device should use to reach the position.
    # @param x_connection_key [String] Device connection key.
    # @param next_xpva [NextXPVA] 
    # @param [Hash] opts the optional parameters
    # @return [NextPostionAbsVelocityAbs200Response]
    def next_position_percent_velocity_absolute(x_connection_key, next_xpva, opts = {})
      data, _status_code, _headers = next_position_percent_velocity_absolute_with_http_info(x_connection_key, next_xpva, opts)
      data
    end

    # Sets the next percent position (xp) of the device, and the absolute velocity (va) the device should use to reach the position.
    # Sets the next percent position (xp) of the device, and the absolute velocity (va) the device should use to reach the position.
    # @param x_connection_key [String] Device connection key.
    # @param next_xpva [NextXPVA] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(NextPostionAbsVelocityAbs200Response, Integer, Hash)>] NextPostionAbsVelocityAbs200Response data, response status code and response headers
    def next_position_percent_velocity_absolute_with_http_info(x_connection_key, next_xpva, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: HDSPApi.next_position_percent_velocity_absolute ...'
      end
      # verify the required parameter 'x_connection_key' is set
      if @api_client.config.client_side_validation && x_connection_key.nil?
        fail ArgumentError, "Missing the required parameter 'x_connection_key' when calling HDSPApi.next_position_percent_velocity_absolute"
      end
      if @api_client.config.client_side_validation && x_connection_key.to_s.length > 64
        fail ArgumentError, 'invalid value for "x_connection_key" when calling HDSPApi.next_position_percent_velocity_absolute, the character length must be smaller than or equal to 64.'
      end

      if @api_client.config.client_side_validation && x_connection_key.to_s.length < 5
        fail ArgumentError, 'invalid value for "x_connection_key" when calling HDSPApi.next_position_percent_velocity_absolute, the character length must be great than or equal to 5.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9]{5,64}$/)
      if @api_client.config.client_side_validation && x_connection_key !~ pattern
        fail ArgumentError, "invalid value for 'x_connection_key' when calling HDSPApi.next_position_percent_velocity_absolute, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'next_xpva' is set
      if @api_client.config.client_side_validation && next_xpva.nil?
        fail ArgumentError, "Missing the required parameter 'next_xpva' when calling HDSPApi.next_position_percent_velocity_absolute"
      end
      # resource path
      local_var_path = '/hdsp/xpva'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-Connection-Key'] = x_connection_key

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(next_xpva)

      # return_type
      return_type = opts[:debug_return_type] || 'NextPostionAbsVelocityAbs200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"HDSPApi.next_position_percent_velocity_absolute",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: HDSPApi#next_position_percent_velocity_absolute\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Sets the next percent position (xp) of the device, and the percent velocity (vp) the device should use to reach the position.
    # Sets the next percent position (xp) of the device, and the percent velocity (vp) the device should use to reach the position.
    # @param x_connection_key [String] Device connection key.
    # @param next_xpvp [NextXPVP] 
    # @param [Hash] opts the optional parameters
    # @return [NextPostionAbsVelocityAbs200Response]
    def next_position_percent_velocity_percent(x_connection_key, next_xpvp, opts = {})
      data, _status_code, _headers = next_position_percent_velocity_percent_with_http_info(x_connection_key, next_xpvp, opts)
      data
    end

    # Sets the next percent position (xp) of the device, and the percent velocity (vp) the device should use to reach the position.
    # Sets the next percent position (xp) of the device, and the percent velocity (vp) the device should use to reach the position.
    # @param x_connection_key [String] Device connection key.
    # @param next_xpvp [NextXPVP] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(NextPostionAbsVelocityAbs200Response, Integer, Hash)>] NextPostionAbsVelocityAbs200Response data, response status code and response headers
    def next_position_percent_velocity_percent_with_http_info(x_connection_key, next_xpvp, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: HDSPApi.next_position_percent_velocity_percent ...'
      end
      # verify the required parameter 'x_connection_key' is set
      if @api_client.config.client_side_validation && x_connection_key.nil?
        fail ArgumentError, "Missing the required parameter 'x_connection_key' when calling HDSPApi.next_position_percent_velocity_percent"
      end
      if @api_client.config.client_side_validation && x_connection_key.to_s.length > 64
        fail ArgumentError, 'invalid value for "x_connection_key" when calling HDSPApi.next_position_percent_velocity_percent, the character length must be smaller than or equal to 64.'
      end

      if @api_client.config.client_side_validation && x_connection_key.to_s.length < 5
        fail ArgumentError, 'invalid value for "x_connection_key" when calling HDSPApi.next_position_percent_velocity_percent, the character length must be great than or equal to 5.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9]{5,64}$/)
      if @api_client.config.client_side_validation && x_connection_key !~ pattern
        fail ArgumentError, "invalid value for 'x_connection_key' when calling HDSPApi.next_position_percent_velocity_percent, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'next_xpvp' is set
      if @api_client.config.client_side_validation && next_xpvp.nil?
        fail ArgumentError, "Missing the required parameter 'next_xpvp' when calling HDSPApi.next_position_percent_velocity_percent"
      end
      # resource path
      local_var_path = '/hdsp/xpvp'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-Connection-Key'] = x_connection_key

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(next_xpvp)

      # return_type
      return_type = opts[:debug_return_type] || 'NextPostionAbsVelocityAbs200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"HDSPApi.next_position_percent_velocity_percent",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: HDSPApi#next_position_percent_velocity_percent\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Sets the next absolute position (xa) of the device, and the absolute velocity (va) the device should use to reach the position.
    # Sets the next absolute position (xa) of the device, and the absolute velocity (va) the device should use to reach the position.
    # @param x_connection_key [String] Device connection key.
    # @param next_xava [NextXAVA] 
    # @param [Hash] opts the optional parameters
    # @return [NextPostionAbsVelocityAbs200Response]
    def next_postion_abs_velocity_abs(x_connection_key, next_xava, opts = {})
      data, _status_code, _headers = next_postion_abs_velocity_abs_with_http_info(x_connection_key, next_xava, opts)
      data
    end

    # Sets the next absolute position (xa) of the device, and the absolute velocity (va) the device should use to reach the position.
    # Sets the next absolute position (xa) of the device, and the absolute velocity (va) the device should use to reach the position.
    # @param x_connection_key [String] Device connection key.
    # @param next_xava [NextXAVA] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(NextPostionAbsVelocityAbs200Response, Integer, Hash)>] NextPostionAbsVelocityAbs200Response data, response status code and response headers
    def next_postion_abs_velocity_abs_with_http_info(x_connection_key, next_xava, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: HDSPApi.next_postion_abs_velocity_abs ...'
      end
      # verify the required parameter 'x_connection_key' is set
      if @api_client.config.client_side_validation && x_connection_key.nil?
        fail ArgumentError, "Missing the required parameter 'x_connection_key' when calling HDSPApi.next_postion_abs_velocity_abs"
      end
      if @api_client.config.client_side_validation && x_connection_key.to_s.length > 64
        fail ArgumentError, 'invalid value for "x_connection_key" when calling HDSPApi.next_postion_abs_velocity_abs, the character length must be smaller than or equal to 64.'
      end

      if @api_client.config.client_side_validation && x_connection_key.to_s.length < 5
        fail ArgumentError, 'invalid value for "x_connection_key" when calling HDSPApi.next_postion_abs_velocity_abs, the character length must be great than or equal to 5.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9]{5,64}$/)
      if @api_client.config.client_side_validation && x_connection_key !~ pattern
        fail ArgumentError, "invalid value for 'x_connection_key' when calling HDSPApi.next_postion_abs_velocity_abs, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'next_xava' is set
      if @api_client.config.client_side_validation && next_xava.nil?
        fail ArgumentError, "Missing the required parameter 'next_xava' when calling HDSPApi.next_postion_abs_velocity_abs"
      end
      # resource path
      local_var_path = '/hdsp/xava'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-Connection-Key'] = x_connection_key

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(next_xava)

      # return_type
      return_type = opts[:debug_return_type] || 'NextPostionAbsVelocityAbs200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"HDSPApi.next_postion_abs_velocity_abs",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: HDSPApi#next_postion_abs_velocity_abs\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
