=begin
#Handy API v2.0.0

#API to interact with the 'TheHandy'. <p> <b>IMPORTANT</b>: This API is compatible with devices running firmware version 3 (v3) only. See note below on how to deal with firmware version 2 (v2) devices with this API. <p> <h3>Join the community</h3> Send us a mail or add us on discord for a more technical chat - **Handy#8756**<br> Follow us on Reddit for updates and announcements: https://www.reddit.com/r/theHandy/ <p> <h3>Server selection</h3> When using the API make sure you connect to the server environment that the device you are trying to interact with is connected to.<br> For most users this will be the production environment API server: <b>https://www.handyfeeling.com/api/handy/v2</b><br> If you have been given special access to firmware that connects to the staging environment, you should use the staging environment API server: <b>https://staging.handyfeeling.com/api/handy/v2</b><br> <p> <h3>Handling firmware v2 devices</h3> Users with firmware v2 devices are required to update their device to firmware v3 before the device can be fully used with this API.<br> To ease this process, two of the endpoints in this API can be used with firmware v2 devices:<br> <ul> <li><code>/connected</code> - Check online status of a device.</li> <li><code>/info</code> - Get general information about the device.</li> </ul> All other endpoints will always return a 'Machine not connected' error if you try to use them with a firmware v2 device.<br><br> For v2 devices it's important to handle the fwStatus returned from the <code>/info</code> endpoint properly.<br> v2 devices will always have fwStatus = UPDATE_REQUIRED(2). See <code>/info</code> documentation for more details.<br><br> When using the API with a device, you should always start by verifying that the device have a firmware that is compatible with the API you are using in your service.<br> An example flow could look like this: <ol> <li>Check if device is conncted with <code>/connected</code></li> <li>Check device firmware status with <code>/info</code></li> <li>If a firmware update is required, forward the user to <a href=\"https://www.handfyfeeling.com\">https://www.handfyfeeling.com</a> so they can easily update the device firmware.</li> <li>Continue your service when the firmware status returned in <code>/info</code> is UP_TO_DATE(0).</li> </ol> <p> <h3>Mode specific operations</h3> Operations in <b>BASE</b>, <b>SLIDE</b>, <b>TIMESYNC</b> and <b>HSTP</b> are mode independent and available at any time.<br> Other operations are only available in a specific mode (eg. <b>HAMP</b>, <b>HDSP</b>, <b>HSSP</b>).<br> To access these operations, the device have to first be put in the specific mode (see <code>/mode</code>).<br> If you execute an operation not available in the current mode of the device, you will receive a 'No such method' error response. <!--See live samples of use cases here: 'https://www.handyfeeling.com/api/handy/v2/demo/ -->

The version of the OpenAPI document: 2.0.0-beta-3
Contact: lars@sweettech.no
Generated by: https://openapi-generator.tech
OpenAPI Generator version: 7.0.1-SNAPSHOT

=end

require 'cgi'

module HandyAPI
  class HSSPApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get the HSSP state of the device.
    # Get the HSSP state of the device.
    # @param x_connection_key [String] Device connection key.
    # @param [Hash] opts the optional parameters
    # @return [GetHSSPState200Response]
    def get_hssp_state(x_connection_key, opts = {})
      data, _status_code, _headers = get_hssp_state_with_http_info(x_connection_key, opts)
      data
    end

    # Get the HSSP state of the device.
    # Get the HSSP state of the device.
    # @param x_connection_key [String] Device connection key.
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetHSSPState200Response, Integer, Hash)>] GetHSSPState200Response data, response status code and response headers
    def get_hssp_state_with_http_info(x_connection_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: HSSPApi.get_hssp_state ...'
      end
      # verify the required parameter 'x_connection_key' is set
      if @api_client.config.client_side_validation && x_connection_key.nil?
        fail ArgumentError, "Missing the required parameter 'x_connection_key' when calling HSSPApi.get_hssp_state"
      end
      if @api_client.config.client_side_validation && x_connection_key.to_s.length > 64
        fail ArgumentError, 'invalid value for "x_connection_key" when calling HSSPApi.get_hssp_state, the character length must be smaller than or equal to 64.'
      end

      if @api_client.config.client_side_validation && x_connection_key.to_s.length < 5
        fail ArgumentError, 'invalid value for "x_connection_key" when calling HSSPApi.get_hssp_state, the character length must be great than or equal to 5.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9]{5,64}$/)
      if @api_client.config.client_side_validation && x_connection_key !~ pattern
        fail ArgumentError, "invalid value for 'x_connection_key' when calling HSSPApi.get_hssp_state, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/hssp/state'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      header_params[:'X-Connection-Key'] = x_connection_key

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetHSSPState200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"HSSPApi.get_hssp_state",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: HSSPApi#get_hssp_state\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get the HSSP loop setting of the device. Only available in firmware >= 3.2.x
    # Get the HSSP loop setting of the device. Only available in firmware >= 3.2.x
    # @param x_connection_key [String] Device connection key.
    # @param [Hash] opts the optional parameters
    # @return [GetLoopSetting200Response]
    def get_loop_setting(x_connection_key, opts = {})
      data, _status_code, _headers = get_loop_setting_with_http_info(x_connection_key, opts)
      data
    end

    # Get the HSSP loop setting of the device. Only available in firmware &gt;&#x3D; 3.2.x
    # Get the HSSP loop setting of the device. Only available in firmware &gt;&#x3D; 3.2.x
    # @param x_connection_key [String] Device connection key.
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetLoopSetting200Response, Integer, Hash)>] GetLoopSetting200Response data, response status code and response headers
    def get_loop_setting_with_http_info(x_connection_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: HSSPApi.get_loop_setting ...'
      end
      # verify the required parameter 'x_connection_key' is set
      if @api_client.config.client_side_validation && x_connection_key.nil?
        fail ArgumentError, "Missing the required parameter 'x_connection_key' when calling HSSPApi.get_loop_setting"
      end
      if @api_client.config.client_side_validation && x_connection_key.to_s.length > 64
        fail ArgumentError, 'invalid value for "x_connection_key" when calling HSSPApi.get_loop_setting, the character length must be smaller than or equal to 64.'
      end

      if @api_client.config.client_side_validation && x_connection_key.to_s.length < 5
        fail ArgumentError, 'invalid value for "x_connection_key" when calling HSSPApi.get_loop_setting, the character length must be great than or equal to 5.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9]{5,64}$/)
      if @api_client.config.client_side_validation && x_connection_key !~ pattern
        fail ArgumentError, "invalid value for 'x_connection_key' when calling HSSPApi.get_loop_setting, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/hssp/loop'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      header_params[:'X-Connection-Key'] = x_connection_key

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetLoopSetting200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"HSSPApi.get_loop_setting",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: HSSPApi#get_loop_setting\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Stop script playing.
    # Stop script playing.
    # @param x_connection_key [String] Device connection key.
    # @param [Hash] opts the optional parameters
    # @return [SetHAMPVelocityPercent200Response]
    def hssp_stop(x_connection_key, opts = {})
      data, _status_code, _headers = hssp_stop_with_http_info(x_connection_key, opts)
      data
    end

    # Stop script playing.
    # Stop script playing.
    # @param x_connection_key [String] Device connection key.
    # @param [Hash] opts the optional parameters
    # @return [Array<(SetHAMPVelocityPercent200Response, Integer, Hash)>] SetHAMPVelocityPercent200Response data, response status code and response headers
    def hssp_stop_with_http_info(x_connection_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: HSSPApi.hssp_stop ...'
      end
      # verify the required parameter 'x_connection_key' is set
      if @api_client.config.client_side_validation && x_connection_key.nil?
        fail ArgumentError, "Missing the required parameter 'x_connection_key' when calling HSSPApi.hssp_stop"
      end
      if @api_client.config.client_side_validation && x_connection_key.to_s.length > 64
        fail ArgumentError, 'invalid value for "x_connection_key" when calling HSSPApi.hssp_stop, the character length must be smaller than or equal to 64.'
      end

      if @api_client.config.client_side_validation && x_connection_key.to_s.length < 5
        fail ArgumentError, 'invalid value for "x_connection_key" when calling HSSPApi.hssp_stop, the character length must be great than or equal to 5.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9]{5,64}$/)
      if @api_client.config.client_side_validation && x_connection_key !~ pattern
        fail ArgumentError, "invalid value for 'x_connection_key' when calling HSSPApi.hssp_stop, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/hssp/stop'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      header_params[:'X-Connection-Key'] = x_connection_key

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SetHAMPVelocityPercent200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"HSSPApi.hssp_stop",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: HSSPApi#hssp_stop\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Start script playing.
    # Start script playing from a specified time index. <p>For the script and a video to be correctly synchronized, the client must provide a client-side-estimated-server-time.<p>See TIMESYNC for further details on how to create a good client-side-estimated-server-time.
    # @param x_connection_key [String] Device connection key.
    # @param hssp_play [HSSPPlay] 
    # @param [Hash] opts the optional parameters
    # @return [Play200Response]
    def play(x_connection_key, hssp_play, opts = {})
      data, _status_code, _headers = play_with_http_info(x_connection_key, hssp_play, opts)
      data
    end

    # Start script playing.
    # Start script playing from a specified time index. &lt;p&gt;For the script and a video to be correctly synchronized, the client must provide a client-side-estimated-server-time.&lt;p&gt;See TIMESYNC for further details on how to create a good client-side-estimated-server-time.
    # @param x_connection_key [String] Device connection key.
    # @param hssp_play [HSSPPlay] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Play200Response, Integer, Hash)>] Play200Response data, response status code and response headers
    def play_with_http_info(x_connection_key, hssp_play, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: HSSPApi.play ...'
      end
      # verify the required parameter 'x_connection_key' is set
      if @api_client.config.client_side_validation && x_connection_key.nil?
        fail ArgumentError, "Missing the required parameter 'x_connection_key' when calling HSSPApi.play"
      end
      if @api_client.config.client_side_validation && x_connection_key.to_s.length > 64
        fail ArgumentError, 'invalid value for "x_connection_key" when calling HSSPApi.play, the character length must be smaller than or equal to 64.'
      end

      if @api_client.config.client_side_validation && x_connection_key.to_s.length < 5
        fail ArgumentError, 'invalid value for "x_connection_key" when calling HSSPApi.play, the character length must be great than or equal to 5.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9]{5,64}$/)
      if @api_client.config.client_side_validation && x_connection_key !~ pattern
        fail ArgumentError, "invalid value for 'x_connection_key' when calling HSSPApi.play, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'hssp_play' is set
      if @api_client.config.client_side_validation && hssp_play.nil?
        fail ArgumentError, "Missing the required parameter 'hssp_play' when calling HSSPApi.play"
      end
      # resource path
      local_var_path = '/hssp/play'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-Connection-Key'] = x_connection_key

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(hssp_play)

      # return_type
      return_type = opts[:debug_return_type] || 'Play200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"HSSPApi.play",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: HSSPApi#play\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Set the HSSP loop setting of the device. Only available in firmware >= 3.2.x
    # If looping is enabled, the device will start replaying the script from the beginning when the end of the script is reached. Only available in firmware >= 3.2.x
    # @param x_connection_key [String] Device connection key.
    # @param loop_setting_update [LoopSettingUpdate] 
    # @param [Hash] opts the optional parameters
    # @return [SetHAMPVelocityPercent200Response]
    def set_loop_setting(x_connection_key, loop_setting_update, opts = {})
      data, _status_code, _headers = set_loop_setting_with_http_info(x_connection_key, loop_setting_update, opts)
      data
    end

    # Set the HSSP loop setting of the device. Only available in firmware &gt;&#x3D; 3.2.x
    # If looping is enabled, the device will start replaying the script from the beginning when the end of the script is reached. Only available in firmware &gt;&#x3D; 3.2.x
    # @param x_connection_key [String] Device connection key.
    # @param loop_setting_update [LoopSettingUpdate] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SetHAMPVelocityPercent200Response, Integer, Hash)>] SetHAMPVelocityPercent200Response data, response status code and response headers
    def set_loop_setting_with_http_info(x_connection_key, loop_setting_update, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: HSSPApi.set_loop_setting ...'
      end
      # verify the required parameter 'x_connection_key' is set
      if @api_client.config.client_side_validation && x_connection_key.nil?
        fail ArgumentError, "Missing the required parameter 'x_connection_key' when calling HSSPApi.set_loop_setting"
      end
      if @api_client.config.client_side_validation && x_connection_key.to_s.length > 64
        fail ArgumentError, 'invalid value for "x_connection_key" when calling HSSPApi.set_loop_setting, the character length must be smaller than or equal to 64.'
      end

      if @api_client.config.client_side_validation && x_connection_key.to_s.length < 5
        fail ArgumentError, 'invalid value for "x_connection_key" when calling HSSPApi.set_loop_setting, the character length must be great than or equal to 5.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9]{5,64}$/)
      if @api_client.config.client_side_validation && x_connection_key !~ pattern
        fail ArgumentError, "invalid value for 'x_connection_key' when calling HSSPApi.set_loop_setting, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'loop_setting_update' is set
      if @api_client.config.client_side_validation && loop_setting_update.nil?
        fail ArgumentError, "Missing the required parameter 'loop_setting_update' when calling HSSPApi.set_loop_setting"
      end
      # resource path
      local_var_path = '/hssp/loop'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-Connection-Key'] = x_connection_key

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(loop_setting_update)

      # return_type
      return_type = opts[:debug_return_type] || 'SetHAMPVelocityPercent200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"HSSPApi.set_loop_setting",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: HSSPApi#set_loop_setting\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Setup script synchronization.
    # Setup script synchronization by providing the device with an URL from where the script can be downloaded. The device need to be able to access the URL for setup to work. <p><b>NOTE: The maximum CSV script size that a device can handle is 524288 bytes. Script larger than this will return an error.</b></p> <p>If the sha-256 value of the script is provided, the device will only download the script if it can not be found in the device cache.</p> <p>See the hssp/setup response examples and the HSSPModeErrors schema for possible responses and error code descriptions.</p> <h2>Using token URLs</h2> <p>NOTE: This secions is only applicable for partners that have integrated with the Script API.</p> <p>If the URL provided to the hssp/setup is a token URL, the sha-256 value is ignored. In addition, more information is available in potential error responses if the error is caused by the token.</p> 
    # @param x_connection_key [String] Device connection key.
    # @param setup [Setup] 
    # @param [Hash] opts the optional parameters
    # @return [Setup200Response]
    def setup(x_connection_key, setup, opts = {})
      data, _status_code, _headers = setup_with_http_info(x_connection_key, setup, opts)
      data
    end

    # Setup script synchronization.
    # Setup script synchronization by providing the device with an URL from where the script can be downloaded. The device need to be able to access the URL for setup to work. &lt;p&gt;&lt;b&gt;NOTE: The maximum CSV script size that a device can handle is 524288 bytes. Script larger than this will return an error.&lt;/b&gt;&lt;/p&gt; &lt;p&gt;If the sha-256 value of the script is provided, the device will only download the script if it can not be found in the device cache.&lt;/p&gt; &lt;p&gt;See the hssp/setup response examples and the HSSPModeErrors schema for possible responses and error code descriptions.&lt;/p&gt; &lt;h2&gt;Using token URLs&lt;/h2&gt; &lt;p&gt;NOTE: This secions is only applicable for partners that have integrated with the Script API.&lt;/p&gt; &lt;p&gt;If the URL provided to the hssp/setup is a token URL, the sha-256 value is ignored. In addition, more information is available in potential error responses if the error is caused by the token.&lt;/p&gt; 
    # @param x_connection_key [String] Device connection key.
    # @param setup [Setup] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Setup200Response, Integer, Hash)>] Setup200Response data, response status code and response headers
    def setup_with_http_info(x_connection_key, setup, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: HSSPApi.setup ...'
      end
      # verify the required parameter 'x_connection_key' is set
      if @api_client.config.client_side_validation && x_connection_key.nil?
        fail ArgumentError, "Missing the required parameter 'x_connection_key' when calling HSSPApi.setup"
      end
      if @api_client.config.client_side_validation && x_connection_key.to_s.length > 64
        fail ArgumentError, 'invalid value for "x_connection_key" when calling HSSPApi.setup, the character length must be smaller than or equal to 64.'
      end

      if @api_client.config.client_side_validation && x_connection_key.to_s.length < 5
        fail ArgumentError, 'invalid value for "x_connection_key" when calling HSSPApi.setup, the character length must be great than or equal to 5.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9]{5,64}$/)
      if @api_client.config.client_side_validation && x_connection_key !~ pattern
        fail ArgumentError, "invalid value for 'x_connection_key' when calling HSSPApi.setup, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'setup' is set
      if @api_client.config.client_side_validation && setup.nil?
        fail ArgumentError, "Missing the required parameter 'setup' when calling HSSPApi.setup"
      end
      # resource path
      local_var_path = '/hssp/setup'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-Connection-Key'] = x_connection_key

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(setup)

      # return_type
      return_type = opts[:debug_return_type] || 'Setup200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"HSSPApi.setup",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: HSSPApi#setup\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
