=begin
#Handy API v2.0.0

#API to interact with the 'TheHandy'. <p> <b>IMPORTANT</b>: This API is compatible with devices running firmware version 3 (v3) only. See note below on how to deal with firmware version 2 (v2) devices with this API. <p> <h3>Join the community</h3> Send us a mail or add us on discord for a more technical chat - **Handy#8756**<br> Follow us on Reddit for updates and announcements: https://www.reddit.com/r/theHandy/ <p> <h3>Server selection</h3> When using the API make sure you connect to the server environment that the device you are trying to interact with is connected to.<br> For most users this will be the production environment API server: <b>https://www.handyfeeling.com/api/handy/v2</b><br> If you have been given special access to firmware that connects to the staging environment, you should use the staging environment API server: <b>https://staging.handyfeeling.com/api/handy/v2</b><br> <p> <h3>Handling firmware v2 devices</h3> Users with firmware v2 devices are required to update their device to firmware v3 before the device can be fully used with this API.<br> To ease this process, two of the endpoints in this API can be used with firmware v2 devices:<br> <ul> <li><code>/connected</code> - Check online status of a device.</li> <li><code>/info</code> - Get general information about the device.</li> </ul> All other endpoints will always return a 'Machine not connected' error if you try to use them with a firmware v2 device.<br><br> For v2 devices it's important to handle the fwStatus returned from the <code>/info</code> endpoint properly.<br> v2 devices will always have fwStatus = UPDATE_REQUIRED(2). See <code>/info</code> documentation for more details.<br><br> When using the API with a device, you should always start by verifying that the device have a firmware that is compatible with the API you are using in your service.<br> An example flow could look like this: <ol> <li>Check if device is conncted with <code>/connected</code></li> <li>Check device firmware status with <code>/info</code></li> <li>If a firmware update is required, forward the user to <a href=\"https://www.handfyfeeling.com\">https://www.handfyfeeling.com</a> so they can easily update the device firmware.</li> <li>Continue your service when the firmware status returned in <code>/info</code> is UP_TO_DATE(0).</li> </ol> <p> <h3>Mode specific operations</h3> Operations in <b>BASE</b>, <b>SLIDE</b>, <b>TIMESYNC</b> and <b>HSTP</b> are mode independent and available at any time.<br> Other operations are only available in a specific mode (eg. <b>HAMP</b>, <b>HDSP</b>, <b>HSSP</b>).<br> To access these operations, the device have to first be put in the specific mode (see <code>/mode</code>).<br> If you execute an operation not available in the current mode of the device, you will receive a 'No such method' error response. <!--See live samples of use cases here: 'https://www.handyfeeling.com/api/handy/v2/demo/ -->

The version of the OpenAPI document: 2.0.0-beta-3
Contact: lars@sweettech.no
Generated by: https://openapi-generator.tech
OpenAPI Generator version: 7.0.1-SNAPSHOT

=end

require 'cgi'

module HandyAPI
  class MAINTENANCEApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get the device update status.
    # Get the device update status.
    # @param x_connection_key [String] Device connection key.
    # @param [Hash] opts the optional parameters
    # @return [GetUpdateStatus200Response]
    def get_update_status(x_connection_key, opts = {})
      data, _status_code, _headers = get_update_status_with_http_info(x_connection_key, opts)
      data
    end

    # Get the device update status.
    # Get the device update status.
    # @param x_connection_key [String] Device connection key.
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetUpdateStatus200Response, Integer, Hash)>] GetUpdateStatus200Response data, response status code and response headers
    def get_update_status_with_http_info(x_connection_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MAINTENANCEApi.get_update_status ...'
      end
      # verify the required parameter 'x_connection_key' is set
      if @api_client.config.client_side_validation && x_connection_key.nil?
        fail ArgumentError, "Missing the required parameter 'x_connection_key' when calling MAINTENANCEApi.get_update_status"
      end
      if @api_client.config.client_side_validation && x_connection_key.to_s.length > 64
        fail ArgumentError, 'invalid value for "x_connection_key" when calling MAINTENANCEApi.get_update_status, the character length must be smaller than or equal to 64.'
      end

      if @api_client.config.client_side_validation && x_connection_key.to_s.length < 5
        fail ArgumentError, 'invalid value for "x_connection_key" when calling MAINTENANCEApi.get_update_status, the character length must be great than or equal to 5.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9]{5,64}$/)
      if @api_client.config.client_side_validation && x_connection_key !~ pattern
        fail ArgumentError, "invalid value for 'x_connection_key' when calling MAINTENANCEApi.get_update_status, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/maintenance/update/status'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      header_params[:'X-Connection-Key'] = x_connection_key

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetUpdateStatus200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"MAINTENANCEApi.get_update_status",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MAINTENANCEApi#get_update_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Restart the device.
    # Restart the device. If the optional reconnect flag is set to <code>true</code>, the device will reconnect to the server after restart. The reconnect value defaults to <code>true</code> if not specified.
    # @param x_connection_key [String] Device connection key.
    # @param [Hash] opts the optional parameters
    # @option opts [RestartRequest] :restart_request 
    # @return [SetHAMPVelocityPercent200Response]
    def restart(x_connection_key, opts = {})
      data, _status_code, _headers = restart_with_http_info(x_connection_key, opts)
      data
    end

    # Restart the device.
    # Restart the device. If the optional reconnect flag is set to &lt;code&gt;true&lt;/code&gt;, the device will reconnect to the server after restart. The reconnect value defaults to &lt;code&gt;true&lt;/code&gt; if not specified.
    # @param x_connection_key [String] Device connection key.
    # @param [Hash] opts the optional parameters
    # @option opts [RestartRequest] :restart_request 
    # @return [Array<(SetHAMPVelocityPercent200Response, Integer, Hash)>] SetHAMPVelocityPercent200Response data, response status code and response headers
    def restart_with_http_info(x_connection_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MAINTENANCEApi.restart ...'
      end
      # verify the required parameter 'x_connection_key' is set
      if @api_client.config.client_side_validation && x_connection_key.nil?
        fail ArgumentError, "Missing the required parameter 'x_connection_key' when calling MAINTENANCEApi.restart"
      end
      if @api_client.config.client_side_validation && x_connection_key.to_s.length > 64
        fail ArgumentError, 'invalid value for "x_connection_key" when calling MAINTENANCEApi.restart, the character length must be smaller than or equal to 64.'
      end

      if @api_client.config.client_side_validation && x_connection_key.to_s.length < 5
        fail ArgumentError, 'invalid value for "x_connection_key" when calling MAINTENANCEApi.restart, the character length must be great than or equal to 5.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9]{5,64}$/)
      if @api_client.config.client_side_validation && x_connection_key !~ pattern
        fail ArgumentError, "invalid value for 'x_connection_key' when calling MAINTENANCEApi.restart, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/maintenance/restart'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-Connection-Key'] = x_connection_key

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'restart_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'SetHAMPVelocityPercent200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"MAINTENANCEApi.restart",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MAINTENANCEApi#restart\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Perform firmware update.
    # Perform firmware update.
    # @param x_connection_key [String] Device connection key.
    # @param update_perform [UpdatePerform] 
    # @param [Hash] opts the optional parameters
    # @return [SetHAMPVelocityPercent200Response]
    def update_perform_fw(x_connection_key, update_perform, opts = {})
      data, _status_code, _headers = update_perform_fw_with_http_info(x_connection_key, update_perform, opts)
      data
    end

    # Perform firmware update.
    # Perform firmware update.
    # @param x_connection_key [String] Device connection key.
    # @param update_perform [UpdatePerform] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SetHAMPVelocityPercent200Response, Integer, Hash)>] SetHAMPVelocityPercent200Response data, response status code and response headers
    def update_perform_fw_with_http_info(x_connection_key, update_perform, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MAINTENANCEApi.update_perform_fw ...'
      end
      # verify the required parameter 'x_connection_key' is set
      if @api_client.config.client_side_validation && x_connection_key.nil?
        fail ArgumentError, "Missing the required parameter 'x_connection_key' when calling MAINTENANCEApi.update_perform_fw"
      end
      if @api_client.config.client_side_validation && x_connection_key.to_s.length > 64
        fail ArgumentError, 'invalid value for "x_connection_key" when calling MAINTENANCEApi.update_perform_fw, the character length must be smaller than or equal to 64.'
      end

      if @api_client.config.client_side_validation && x_connection_key.to_s.length < 5
        fail ArgumentError, 'invalid value for "x_connection_key" when calling MAINTENANCEApi.update_perform_fw, the character length must be great than or equal to 5.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9]{5,64}$/)
      if @api_client.config.client_side_validation && x_connection_key !~ pattern
        fail ArgumentError, "invalid value for 'x_connection_key' when calling MAINTENANCEApi.update_perform_fw, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'update_perform' is set
      if @api_client.config.client_side_validation && update_perform.nil?
        fail ArgumentError, "Missing the required parameter 'update_perform' when calling MAINTENANCEApi.update_perform_fw"
      end
      # resource path
      local_var_path = '/maintenance/update/perform'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-Connection-Key'] = x_connection_key

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_perform)

      # return_type
      return_type = opts[:debug_return_type] || 'SetHAMPVelocityPercent200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"MAINTENANCEApi.update_perform_fw",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MAINTENANCEApi#update_perform_fw\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
